<!doctype html>
{% extends "apps/base.html" %}
<!--inherit from the base-->

{% block body_block %}
<h4>Artist Name: {{ artist_info.first_name }} {{ artist_info.last_name }} </h4>
<h4>Instrument: {{ artist_info.instrument }}</h4>
<h4>Artist Rating: {{ artist_rating.num_stars__avg }}</h4>
<a href="{% url 'apps:edit_artist' artist_id=artist_info.id %}" class="btn btn-success btn-sm">Edit</a>
<h3>Album List!!</h3>

<table class="table table-bordered">
    <tr>
        <th>Album Name</th>
        <th>Release Date</th>
        <th>Rating</th>

    </tr>
    {% for album in album_list %}
    <tr>
        <td><a href="{% url 'apps:edit_album' album_id=album.id  %}">{{ album.name }} </a> </td>
        <td>{{ album.release_date|date:"M d, Y" }}</td>
        <td>{{ album.num_stars }}</td>

    </tr>
    {% endfor %}

</table>

<br>

<a href="{% url 'apps:delete_musician' artist_id=artist_info.id %}" onclick="return confirm('Delete Musician?')" class="btn btn-danger btn-sm">Delete!!</a>

{% endblock %}